{% extends 'base.html' %}

{% block head %}
    <style>
        body {
            background-color: #fafafa;
        }

        hr {
            margin-bottom: 1.5rem;
        }

	a {
	    text-decoration: none;
	}

        .container {
            margin: 0 auto;
            max-width: 700px;
            min-width: 300px;
            font-size: 20px;
            font-family: 'Inconsolata', monospace;
        }

        .about {
            margin-top: 50px;
            height: 280px;
        }

        .about .photo {
            float: left;
            width: 40%;
            margin-top: -13px;
        }

        .about .photo img {
            width: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        .about .info {
            margin-left: 50%;
        }

        .about .info .name {
            font-size: 38px;
            margin-bottom: 30px;
            line-height: normal;
        }

        .about .info .keywords ul {
            list-style-type:none
        }
        .about .info .keywords li {
            white-space: nowrap;
        }

        .about .info .keywords i {
            margin-right: 10px;
            width: 20px;

        }

        .projects .title {
            margin-bottom: 20px;
            font-size: 38px;
        }

        .projects .list li {
            list-style-type:none;
        }

        .contacts {
            margin-top: 30px;
        }

        .contacts i {
            margin-right: 10px;
        }

        .contacts a {
            text-decoration: none;
        }

        .fa-fw {
            width: 100%;
        }
    </style>

    <script>
        $(function() {
            $('.fa-cog').hover(
                function() {
                    $(this).addClass('fa-spin');
                },
                function() {
                    $(this).removeClass('fa-spin');
                }
            )
        });
   </script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="about">
            <div class="photo">
                <img src="/static/img/avatar.png" />
            </div>
            <div class="info">
                <div class="name">
                    alexander zhebrak
                </div>
                <div class="keywords">
                    <ul>
                        <li>
                            <i class="fa fa-fw fa-wrench"></i>software engineer
                        </li>
                        <li>
                            <i class="fa fa-fw fa-cog"></i>machine learning enthusiast
                        </li>
                        <li>
                            <i class="fa fa-fw fa-rocket"></i>runner
                        </li>
                        <li>
                            <i class="fa fa-fw fa-music"></i>musician
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <hr/>
        <div class="projects">
            <div class="title">
                projects
            </div>
            <ul class="list">
                <li class="project">
                    <a target="_blank" href="https://github.com/park-python">python programming course</a> — at Bauman University
                </li>
                <li class="project">
                    <a href="/composer/">neural composer</a> — composing music with neural network
                </li>
                <li class="project">
                    <a target="_blank" href="https://github.com/zhebrak/raftos">raftos</a> — replication framework for distributed Python projects
                </li>
                <li class="project">
                    <a target="_blank" href="https://github.com/zhebrak/django-statsy">django-statsy</a> — statistics framework for Django
                </li>
            </ul>
        </div>

        <hr/>
        <div class="contacts row">
            <div class="one-half column github">
                <a target="_blank" href="https://github.com/zhebrak?tab=repositories"><i class="fa fa-github fa-lg"></i>github</a>
            </div>
            <div class="one-half column facebook">
                <a target="_blank" href="https://www.facebook.com/alexander.zhebrak"><i class="fa fa-facebook fa-lg"></i>facebook</a>
            </div>
        </div>
    </div>
{% endblock %}
